body {
  border: 1px solid #222;
  font-size: 12px;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

header {
  .section-title {
    width: 100%;
    border-bottom: 1px solid #222;
    display: -webkit-box;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    > div {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      padding: 3px 0 0 5px;
      &:last-child {
        margin-right: 15px;
      }
    }
    .title {
      h1 {
        margin: 0;
        padding: 0;
      }
    }
  }

  .section-info {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    > div {
      width: 45%;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      &:last-child {
        margin-right: 0;
      }
    }
    .invoice-info {
      table {
        text-align: left;
        width: 500px;
        tbody {
          th {
            width: 150px;
          }
        }
      }
    }
    .contact-info {
      table {
        text-align: left;
        tbody {
          th {
            width: 150px;
          }
        }
      }
    }
  }

  .wrap-top {
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: justify;
    -webkit-box-align: stretch;
    margin-bottom: 10px;
    > div {
      width: 30%;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      -webkit-box-align: stretch;
      &:last-child {
        margin-right: 0;
      }
      ul {
        li {
          line-height: 1.5;
        }
      }
    }

    .bill-to {
      border: 1px solid #222;
      border-left: none;
      .title {
        margin: 0;
        padding-left: 5px;
        background-color: #ccc;
      }

      .list {
        margin-top: 5px;
        margin-left: 5px;
      }
    }

    .deliver-to {
      border: 1px solid #222;
      .title {
        margin: 0;
        padding-left: 5px;
        background-color: #ccc;
      }

      .list {
        margin-top: 5px;
        margin-left: 5px;
      }
    }

    .remit-to {
      border: 1px solid #222;
      border-right: none;
      .title {
        margin: 0;
        padding-left: 5px;
        background-color: #ccc;
      }

      .list {
        margin-top: 5px;
        margin-left: 5px;
      }
    }
  }
}

main {
  .wrap-item-list {
    table {
      width: 100%;
      .total-title {
        font-weight: bold;
        text-align: right;
        padding-right: 30px;
      }
      .total {
        background-color: #f2f2f2;
        font-weight: bold;
      }
      .wrap-price {
        .currency {
          display: block;
          float: left;
          text-align: left;
        }
        .price {
          display: block;
          float: right;
          text-align: right;
        }
        &::after {
          display: block;
          clear: both;
          content: "";
        }
      }
      thead {
        th {
          padding: 5px;
          background-color: #ccc;
          border-right: 1px solid #222;
          border-bottom: 1px solid #222;
          &:first-child {
            border-left: none;
          }
          &:last-child {
            border-right: none;
          }
        }
      }
      tbody {
        td {
          border-bottom: 1px solid #222;
          border-right: 1px solid #222;
          text-align: center;
          padding: 5px;
          height: 45px;
          &:first-child {
            border-left: none;
          }
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
}

.wrap-packing-number {
  margin-left: 5px;
}
.wrap-bottom {
  padding: 15px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  padding: 5px;
  display: -webkit-box;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -webkit-box-align: stretch;
  > div {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-align: stretch;
    &:last-child {
      margin-right: 0;
    }
  }
  .payment {
    table {
      caption {
        text-align: left;
        padding: 0;
        margin-bottom: 5px;
      }
      th {
        width: 150px;
      }
      td {
        width: 450px;
      }
      th,
      td {
        padding: 5px;
        border: 1px solid #222;
      }
    }
  }
  .signature {
    width: 250px;
    text-align: center;
    ul {
      border-top: 2px solid #2196f3;
      li {
        text-align: right;
        line-height: 1.8;
      }
    }
  }
  .total {
    table {
      td {
        border: 1px solid #222;
        height: 30px;
      }
    }
  }
}
